@import url(../pages/index.html);

.header-main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 23px 172px;
    background-color: var(--color-primary-black);
    box-sizing: border-box;
}

.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    width: 100%;
    gap: 200px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    
}

.navegation-main-header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.nav-header-item{
    color: var(--color-secundary-grey);
    text-decoration: none;
    list-style: none;
    font-family: var(--font-body);
    font-weight: var(--font-body3);
    
}

.active{
    color: var(--color-secundary-pink);
    font-weight: bold;
}

.header-buttom-reserva{
    color: var(--color-primary-whithe);
    background-color: var(--color-secundary-pink);
    border-radius: 10px;
    padding: 10px 24px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-body3);
    font-weight: bold;
    white-space: nowrap;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 172px;
    background-color: var(--color-primary-black);
}

.content-main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 549px;
}

.content-main-span{
    color: var(--color-secundary-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--color-secundary-d-gray);
    border-radius: 10px;
    padding: 10px 12px;
    width: 81px;
    font-family: var(--font-body);
    font-size: var(--font-body4);
}

.text-main-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 549px;

}

h1{
    color: var(--color-primary-whithe);
    font-size: var(--font-h1);
    font-family: var(--font-title);
    font-weight: bold;
    text-align: start;
    width: 549px;
    height: 165px;
}

.main-h1-span{
    color: var(--color-secundary-pink);
}

.paragrafo-main{
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body2);
    text-align: start;
    width: 513px;
}

.content-main-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-main-explorar{
    color: var(--color-primary-whithe);
    background-color: var(--color-secundary-pink);
    border-radius: 10px;
    padding: 14px 24px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-body2);

}

.btn-main-pacotes{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 24px;
    border: 1px solid var(--color-secundary-d-gray);
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-body3);
    color: var(--color-primary-whithe);

}

.section-results{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-l-black);
    padding: 48px 340px;
}

.section-results-container{
    display: flex;
    gap: 56px;
    text-align: center;
   
}

.section-results-title{
    color: var( --color-secundary-pink);
    font-size: var( --font-h2);
    font-family: var(--font-title);
    font-weight: 400;
}

.section-results-p{
    color: var(--color-secundary-grey);
    font-size: var(--font-body2);
    font-family: var(--font-body);
}

.section-destiny{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 190px;
    background-color: var(--color-primary-black);
}

.section-destiny-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.section-destiny-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section-destiny-content span{
    color: var(--color-secundary-pink);
    font-size: var(--font-body4);
    font-family: var(--font-title);
    border: 1px solid var(--color-secundary-d-gray);
    border-radius: 24px;
    padding: 12px 20px;
}

.section-destiny-content h2{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h2);
}

.section-destiny-content p{
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-weight: var(--font-body2);
    text-align:center;
    width: 572px;
}

.section-destiny-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-destiny-card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-destiny-card-content:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    border: 2px solid var(--color-secundary-pink);
    border-radius: 20px;
}

.section-destiny-card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-destiny-card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-primary-l-black);
    border-radius: 19px;
    height: 488px;
    width: 364px;
    
}

.section-destiny-card-informations{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
}

.section-destiny-card-content h3{
    color: var(--color-primary-whithe);
    font-family: var(--font-body);
    font-size: var(--font-h3);
    display: flex;
    justify-content: center;
}

.paragraph-experiences {
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body3);

}

.destiny-card-reviews{
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}

.destiny-card-reviews-p{
    color: var(--color-secundary-grey);
    font-family: var(--font-title);
    font-size: var(--font-body4);
}

.destiny-card-time {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.time-destiny{
    color: var(--color-secundary-grey);
    font-family: var(--font-title);
    font-size: var(--font-body4);
}

.destiny-card-time-value{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h4);
}

.destiny-card-values{
    display: flex;
    justify-content: space-between;
    gap: 105px;
}

.btn-destiny-card{
 
    color: var(--color-primary-whithe);
    background-color: var(--color-secundary-pink);
    border-radius: 10px;
    padding: 9px 118px;
    text-decoration: none;
    font-family: var(--font-title);
    font-size: var(--font-body4);
    white-space: nowrap;
}

.section-highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 42px 192px;
    background-color: var(--color-primary-l-black);
}

.section-highlights-principal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section-highlights-principal span{
    color: var(--color-secundary-pink);
    font-family: var(--font-body);
    font-size: var(--font-body4);
    border: 1px solid var(--color-secundary-d-gray);
    border-radius: 24px;
    padding: 12px 20px;
    width: 116px;
}

.section-highlights-principal h2{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h2);
    font-weight: 500;
}

.section-highlights-principal p{
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body2);
    width: 572px;
    text-align: center;
}

.section-highlights-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-highlights-cards{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-black);
    border-radius: 20px;
    padding: 90px 35px;
    align-items: center;
    gap: 20px;
    width: 363px;
    height: 356px;
}

.section-highlights-cards h4{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h4);
    font-weight: 700;
}

.section-highlights-cards p{
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body3);
    text-align:center;
    width: 292px;
    line-height: 1.5;
    margin-top: 15px;
}

.section-highlights-cards:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    border:  1px solid var(--color-secundary-pink);
}

.section-evidences {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-black);
    gap: 60px;
    padding: 40px 190px;
    align-items: center;
}

.section-evidences-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section-evidences-content span{
    color: var(--color-secundary-pink);
    border: 1px solid var(--color-secundary-d-gray);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-body);
    font-size: var(--font-body4);
    font-weight: 700;
}


.section-evidences-content h2{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h2);
    font-weight: 400;

}

.section-evidences-content p {
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body2);
    width: 594px;
    text-align: center;
    font-weight: 400;
}

.section-evidences-cards{
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    
}

.section-evidences-cards-principal{
    background-color: var(--color-primary-l-black);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 364px;
    height: 224px;
    align-items:flex-start;
    
}

.user-review{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.user-review h3{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h4);
    font-weight: 600;
}

.section-evidences-cards-principal p {
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body4);
    font-weight: 400;
}

.section-evidences-cards-principal:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    border:  1px solid var(--color-secundary-pink);
}

.section-faq{
    background-color: var(--color-primary-l-black);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 187px;
}

.content-faq {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.content-faq span{
    color: var(--color-secundary-pink);
    border: 1px solid var(--color-secundary-d-gray);
    border-radius: 24px;
    padding: 12px 20px;
    font-family: var(--font-body);
    font-size: var(--font-body4);
    font-weight: 600;

}

.content-faq h2{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h2);
    font-weight: 400;
}

.content-faq p{
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body2);
    width: 572px;
    text-align: center;
    line-height: 1.5;
}

.container-faq{
    display: flex;
    flex-direction: column;
}

.faq-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 1138px;
    background-color: var(--color-primary-black);
    border-radius: 10px;
    border-bottom: 1px solid var(--color-secundary-d-gray);
    cursor: pointer;
    transition: 0.5s;
}

.faq-item h4{
    color: var(--color-primary-whithe);
    font-family: var(--font-title);
    font-size: var(--font-h4);
    font-weight: 600;
}

.faq-item:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    border:  1px solid var(--color-secundary-pink);
}

footer{
    display: flex;
    justify-content:space-around;
    gap: 100px;
    align-items: flex-start;
    padding: 100px 155px;
    background-color: var(--color-primary-black);
}

.footer-navigation{
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

.footer-navigation-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-navigation-item h2{
    color: var(--color-primary-whithe);
    font-family: var(--font-body);
    font-size: var(--font-body1);
    font-weight: 400;
    width: 121px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav ul li a{
    color: var(--color-secundary-grey);
    font-family: var(--font-body);
    font-size: var(--font-body4);
    text-decoration: none;
    line-height: 1.5;
}

.footer-updates{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-updates h2{
    color: var(--color-primary-whithe);
    font-family: var(--font-body);
    font-size: var(--font-body1);
    font-weight: 400;
    width: 198px;
}

.footer-updates form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    border-bottom: 0.5px solid var(--color-secundary-d-gray);
    padding-bottom: 16px;
}

.footer-updates form input {
    padding: 12px 2px;
    background-color: transparent;
    color: var(--color-primary-whithe);
    font-size: var(--font-body2);
    outline: none;
    border: none;
    width: fit-content;
}

.footer-updates form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary-pink);
    border-radius: 100%;
    padding: 11px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    margin-left: 10px;
}

.footer-updates form button:hover {
    background-color: #a10073;
}